<% include ./sections/head %>

<div class = "section" style = "width: 20%; left: 0px">
    <% include ./left/left %>
</div>

<div class = "section" style = "width: 50%; left: 20%">
    <% include ./center/center %>
</div>

<div class = "section" style = "width: 30%; left: 70%">
    <% include ./right/right %>
</div> 
