<% include ./bottom_style %>

<div id="bottom_div">
  <b>Add an Item</b>
  <input
    type="text"
    name="item_input"
    id="item_input"
    required
    placeholder="Item Name"
  />
  <input
    type="number"
    name="price_input"
    id="price_input"
    required
    placeholder="Price"
  />
  <input
    type="text"
    name="description_input"
    id="description_input"
    required
    placeholder="Description"
  />
  <button name="submit_button" onclick="submit();" id="submit_button">
    Submit
  </button>

  <script>
    function submit() {
      makeItem({ Name: $("#item_input").val(), Description: $("#description_input").val(), Price: $("#price_input") });
    }
  </script>
</div>
