<% include ./right_style %>

<div id="background">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    getData(profile => {
      $("#user")[0].innerText = profile.name + " at " + profile.location;
    });
  </script>
  <br />
  <script>
    function print_data(data) {
      $("#list").empty();

      data.forEach(element => {
        if ($("#search").val()) {
          var reg = new RegExp("(" + $("#search").val() + ")+", "ig");
          if (element.Name.match(reg)) {
            var div = document.createElement("div");
            div.innerHTML = "<b>" + element.Name + "</b><br>";

            $("#list")[0].appendChild(div);
          }
        } else {
          var div = document.createElement("div");
          div.innerHTML = "<b>" + element.Name + "</b><br>";

          $("#list")[0].appendChild(div);
        }
      });
    }
    get_data();
    function get_data() {
      getItems(items => {
        print_data(items);
      });
    }
  </script>
  <input
    type="search"
    name="search"
    id="search"
    onkeyup="get_data();"
    placeholder="Search..."
  />
  <br>
  <div style="color:brown;" id="list"></div>
</div>
<div>
  <% include ./bottom/bottom %>
</div>
