<% include ../sections/head %>

<div class = "section" style = "width: 40%; left: 0%">
    <% include ./col_right/right %>
</div> 

<div class = "section" style = "width: 60%; left: 40%">
    <% include ./col_center/center %>
</div>