<% include ./left_style %>

<div style = "background: lightgreen">

<div id="community_info" style = "width: 100%; height: 10%; background: blueviolet"">
    <b id="community_name"></b>
</div>

<!--List all of the community members here-->
<div id = "member_list">

</div>

</div>

<% include ./left_script %>
