<!doctype html>

<!-- this file is imported and used as the head of every page viewable-->
<head>
    
    <html lang='en'>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title></title>
    <base href="/">

    <!-- JQuery Import -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

</head>

<script>

    var getData = (callback) => {
        $.post( "/home/getUserProfile", {}, (data, status) => {
            callback(data);
        });
    }    
    var getItems = (callback) => {
        $.post( "/home/getAllItems", {}, (data, status) => {
            callback(data);
        });
    } 
    
    getItems(a => console.log(a));

</script>

<style>

    html {
        overflow: hidden;
    }

    .section {
        position: absolute;
        height: 100%;
        top: 0px;

        border: 1px solid black;
    }

    .section > div {
        width: 100%;
        height: 100%;
    }

</style>
