<% include ./left_style %>

<div style = "background: #81d4fa">

    <div id="community_info">
        <b id="community_name"></b>
    </div>

<!--List all of the community members here-->
    <div id = "member_list">
    </div>

</div>

<% include ./left_script %>
