<script>

    //Get name of the community via request
    community_name = document.getElementById('community_name');
    community_name.innerHTML = '<span class="msg">CHANGE ME</span>';


    //Get List of all community members
    var member1 = {name:"Jeff"}
    var member2 = {name:'Jimmy'}
    community_members = [member1, member2]
    member_list = document.getElementById('member_list');
    for(var i = 0; i < community_members.length; i++){
				var div = document.createElement('div');
				div.class = 'member_list_item';
                div.innerHTML = `
                <img src="./left/Artwork.jpg" alt="Profile" width=30%>
				<h3 class = "member_name">`+community_members[i].name+`</h3>`
				member_list.appendChild(div);
			}
</script>